 
 form
{
  margin-left: 400px;
  width:50 ;
  background-size: 25%;
  display: inline-block;
  background-image: url(Image_created_with_a_mobile_phone.png.webp);
  background-repeat: no-repeat;
  position: fixed;
  border-radius: 8px;

}
body
{
  
  background-color: aquamarine;
}
